.TagContainer {
    font-size: 24px;
    line-height: 32px;
    padding-right: 12px;
    padding: 6px;
    margin: 5px;
    height: 42px;
    display: inline-flex;
    color: rgba(0, 0, 0, 0.54);
    border-radius: 99em;
    background-color: rgba(0, 0, 0, 0.05);
    letter-spacing: 0px;
    font-style: normal;
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    align-items: center;
    font-weight: 400;
}

.TagLead {
    margin-right: 6px;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.2);
    border-radius: 99em;
    display: flex;
}