.FormContainer {
    margin-left: auto;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 100%;
}

.InnerFormContainer {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

div {
    display: block;
}